extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'create',
            path: 'plans/',
        }
    script(src='http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js' type='text/ecmascript')

block content
    .full_bg
        .center_container
            h1.title 此刻，我们一起去旅行！
            .search_layer
                .search_form
                    form(name="input" action="/search" method="GET")
                        .search_in
                            .text_input
                                i.mypos
                                h2 我的位置 :
                                input.s-ip(type="text" name="fromLocName")
                            .text_input
                                i.dest
                                h2 想要去哪儿玩 :
                                input.s-ip#linkDataProperty(type="text" name="arrLocName" onkeyup="getLinkData();" autocomplete="off")
                        input.s-btn(type="submit" value="")
                .city_nav
                    a
                        b 香港
                    a
                        b 澳门
                    a
                        b 北京
                    a
                        b 杭州
                    a
                        b 西藏
                    a
                        b 三亚
                    a
                        b 黄山
                    a
                        b 九寨沟
                    a
                        b 上海
