extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'edit',
            path: 'plans/',
        };
        var INTERFACE = {
            basicInfo: {
                title: "三亚好玩吗",
                locId: "53aa9a6510114e3fd4783c68",
                ugcId: "1234567890",
            },

            spotData: [
                [
                    {
                        "id": "53abdfba10114e5815feb2d7",
                        "name": "长沙站",
                        "type": "traffic",
                        "locId": "53aa9a6510114e3fd4783acf",
                        "locName": "长沙市",
                        lng: 113.019827,
                        lat: 28.200445
                    },
                    //- {
                    //-     "id": "53abf34110114e59bc20822f",
                    //-     "name": "T201",
                    //-     "type": "traffic",
                    //-     "locId": undefined,
                    //-     "locName": undefined
                    //- }
                ],
                [
                    {
                        "id": "53abdfb610114e5815feb2b1",
                        "name": "三亚站",
                        "type": "traffic",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        lng: 109.499414,
                        lat: 18.30188
                    },
                    {
                        "id": "53f3124e10114e376de5c29c",
                        "name": "亚龙湾",
                        "type": "viewspot",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        "lng": 109.671945,
                        "lat": 18.213763
                    },
                    {
                        "id": "53b0577810114e0595456e26",
                        "name": "三亚凯莱仙人掌度假酒店",
                        "type": "hotel",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        "lng": 109.654465265,
                        "lat": 18.2365043862,
                        "phone": "0898-88568866",
                        "address": "三亚市亚龙湾国家旅游度假区"
                    }
                ],
                [
                    {
                        "id": "53f30d5b10114e376de5b43d",
                        "name": "蜈支洲岛",
                        "type": "viewspot",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        "lng": 109.774859,
                        "lat": 18.315233
                    },
                    {
                        "id": "53b0577810114e0595456e26",
                        "name": "三亚凯莱仙人掌度假酒店",
                        "type": "hotel",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        "lng": 109.654465265,
                        "lat": 18.2365043862,
                        "phone": "0898-88568866",
                        "address": "三亚市亚龙湾国家旅游度假区"
                    }
                ],
                [
                    {
                        "id": "53f3105e10114e3779f93379",
                        "name": "三亚湾",
                        "type": "viewspot",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        "lng": 109.496987539,
                        "lat": 18.2701703067
                    },
                    {
                        "id": "53f311f910114e377228b230",
                        "name": "鹿回头",
                        "type": "viewspot",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        "lng": 109.490675095,
                        "lat": 18.202998081
                    },
                    {
                        "id": "53b0577810114e0595456e26",
                        "name": "三亚凯莱仙人掌度假酒店",
                        "type": "hotel",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        "lng": 109.654465265,
                        "lat": 18.2365043862,
                        "phone": "0898-88568866",
                        "address": "三亚市亚龙湾国家旅游度假区"
                    }
                ],
                [
                    {
                        "id": "53f30c4510114e376de5b119",
                        "name": "南山文化旅游区",
                        "type": "viewspot",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        "lng": 109.219445,
                        "lat": 18.312019
                    },
                    {
                        "id": "53f30e3810114e377228a770",
                        "name": "天涯海角",
                        "type": "viewspot",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        "lng": 109.349545,
                        "lat": 18.305113
                    },
                    {
                        "id": "53abdfb610114e5815feb2b1",
                        "name": "三亚站",
                        "type": "traffic",
                        "locId": "53aa9a6510114e3fd4783c68",
                        "locName": "三亚市",
                        lng: 109.499414,
                        lat: 18.30188
                    },
                    //- {
                    //-     "id": "53abf34210114e59bc208230",
                    //-     "name": "T202",
                    //-     "type": "traffic",
                    //-     "locId": undefined,
                    //-     "locName": undefined
                    //- }
                ],
                [
                    {
                        "id": "53abdfba10114e5815feb2d7",
                        "name": "长沙站",
                        "type": "traffic",
                        "locId": "53aa9a6510114e3fd4783acf",
                        "locName": "长沙市",
                        lng: 113.019827,
                        lat: 28.200445
                    }
                ]
            ],
            getInfoData: function (that, callback) {
                console.log('ajax...');
                console.log(that);

                $.ajax({
                    url: "/edit/spotInfo",
                    type: "post",
                    async: true,
                    data: { "id": that.id, "type": that.type },
                    success: function (data) {
                        console.log('送回html');
                        console.log(data);
                        callback(data);
                   }
                });
            },
        };


    link(href="/stylesheets/lib/jquery.datetimepicker.css" rel="stylesheet")
    script(src='/javascripts/lib/jquery.mustache.js' rel='javascript')

block content
    div.top_bar
        div.title 峨眉山二日游
        div.time
            input.J_calendar

        div.save

    div.edit_region
        div.day_navigation
            div.day_tab_box
                div.J_all_day.current 全程
                ul.J_day_list(id="day_list")
                    //
                        li.day(data-num="1") D1

            div.J_add_day

        div.day_detail_box
            ul.J_day_detail_list
                //
                    li.day_item(data-num="1")
                        div.day_detail_title
                            span.day_num 第一天
                            span.day_abstract (北京,长沙)
                        ul.day_detail(data-num="1")
                            li.spot_detail(data-indexInAll="1" data-indexInDay="1")
                                i.icon_sight
                                i.marker_number 1
                                i(class="spot_name" data-id="1234567890") 卡塔海滩-1
                                i.delete(href='javascript:;')
                            li.spot_detail(data-indexInAll="2" data-indexInDay="2")
                                i.icon_restaurant
                                i.marker_number 2
                                i(class="spot_name" data-id="1234567890") 卡塔海滩-2
                                i.delete(href='javascript:;')

        div.map_box
            div.map_canvas(id="map_inner")

        div.select_tab_box
            ul.select_tab
                li.viewspot(href='javascript:;') 景点
                span.divider
                li.hotel(href='javascript:;') 酒店
                span.divider
                li.restaurant(href='javascript:;') 美食
                span.divider
                li.shopping(href='javascript:;') 购物
                span.divider
                li.traffic(href='javascript:;') 交通

            div.tab_content
                div.content_viewspot(style="display:none")
                    div.search
                        input(name="spotview" type="text")
                    div.sort_tab
                        //
                            div.price(href='javascript:;') 价格
                                b.price_select_arr
                            span.divider
                        div.score(href='javascript:;') 评分
                            b.score_select_arr
                        span.divider
                        div.popular(href='javascript:;') 热门
                            b.popular_select_arr
                        //
                            span.divider
                            div.entirety(href='javascript:;') 综合
                                b.entirety_select_arr
                    div.list_spotview
                        //
                            div.list_spotview_element
                                div.spotview_pic
                                    img(width="60" height="60" src="/images/plans/edit/viewspot.png")
                                div.spotview_info(data-id="100100100100" data-type="2")
                                    div.spotview_title 粽子黑驴蹄子
                                    div.spotview_star 评分:
                                        b

                div.content_hotel
                    div.search
                        input(name="hotel" type="text")
                    div.sort_tab
                        div.price(href='javascript:;') 价格
                            b.price_select_arr
                        span.divider
                        div.score(href='javascript:;') 评分
                            b.score_select_arr
                        span.divider
                        div.popular(href='javascript:;') 热门
                            b.popular_select_arr
                        span.divider
                        div.entirety(href='javascript:;') 综合
                            b.entirety_select_arr
                    div.list_hotel
                        //
                            div.list_hotel_element
                                div.hotel_pic
                                    img(width="100" height="100" src="/images/plans/edit/vs.png")
                                div.hotel_info(data-id="100100100100" data-type="2")
                                    div.hotel_title 粽子黑驴蹄子
                                    div.hotel_star 评分:
                                        b
                                    div.hotel_phone 电话: 10000000000
                                    div.hotel_address(title="北京市海淀区中关村3W咖啡馆")
                                        nobr 地址: 北京市海淀区中关村3W咖啡馆





                div.content_restaurant 酒店
                    div.search
                        input(name="restaurant" type="text")
                    div.sort_tab
                        div.price(href='javascript:;') 价格
                            b.price_select_arr
                        span.divider
                        div.score(href='javascript:;') 评分
                            b.score_select_arr
                        span.divider
                        div.popular(href='javascript:;') 热门
                            b.popular_select_arr
                        span.divider
                        div.entirety(href='javascript:;') 综合
                            b.entirety_select_arr
                    div.list_restaurant

                div.content_shopping 购物
                    div.search
                        input(name="shopping" type="text")
                    div.sort_tab
                        div.price(href='javascript:;') 价格
                            b.price_select_arr
                        span.divider
                        div.score(href='javascript:;') 评分
                            b.score_select_arr
                        span.divider
                        div.popular(href='javascript:;') 热门
                            b.popular_select_arr
                        span.divider
                        div.entirety(href='javascript:;') 综合
                            b.entirety_select_arr
                    div.list_restaurant

                div.content_traffic 交通
                    div.search
                        input(name="traffic" type="text")
                    div.sort_tab
                        div.price(href='javascript:;') 价格
                            b.price_select_arr
                        span.divider
                        div.score(href='javascript:;') 评分
                            b.score_select_arr
                        span.divider
                        div.popular(href='javascript:;') 热门
                            b.popular_select_arr
                        span.divider
                        div.entirety(href='javascript:;') 综合
                            b.entirety_select_arr
                    div.list_restaurant

    //
        script(src='/javascripts/lib/googlemap.api.js' rel='javascript')
    script(src='/javascripts/lib/jquery.sortable.min.js' rel='javascript')
    script(src='/javascripts/lib/jquery.datetimepicker.js' rel='javascript')
