extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'edit',
            path: 'plans/',
        }
    
block content
    .bd.t-bd
      h1.t
        | 北京——香港
        a.btn02.btn02-c4 确定
    .content.f-cb
      .t-left
        h1.time
          | 出发时间：2014-01-01
          a.btn02.btn02-c1 一键优化
        .add
          em +
          | 添加一天
      .t-right
        .search
          input.s-input(placeholder='搜索')
          i.ico02.ico02-search
        .imgs.f-cb
          a
            div
              img(src='/images/plans/edit/spot01.png')
            em.spot-name 鼓浪屿
            i.ico01.ico01-good
            | 4.5
            i.ico01.ico01-sugg
            | 建议游玩3小时
            em.label 美食|美景
            i.ico02.ico02-add
          a
            div
              img(src='/images/plans/edit/spot01.png')
            em.spot-name 鼓浪屿
            i.ico01.ico01-good
            | 4.5
            i.ico01.ico01-sugg
            | 建议游玩3小时
            em.label 美食|美景
            i.ico02.ico02-add
          a
            div
              img(src='/images/plans/edit/spot01.png')
            em.spot-name 鼓浪屿
            i.ico01.ico01-good
            | 4.5
            i.ico01.ico01-sugg
            | 建议游玩3小时
            em.label 美食|美景
            i.ico02.ico02-add
          a
            div
              img(src='/images/plans/edit/spot01.png')
            em.spot-name 鼓浪屿
            i.ico01.ico01-good
            | 4.5
            i.ico01.ico01-sugg
            | 建议游玩3小时
            em.label 美食|美景
            i.ico02.ico02-add
          a
            div
              img(src='/images/plans/edit/spot01.png')
            em.spot-name 鼓浪屿
            i.ico01.ico01-good
            | 4.5
            i.ico01.ico01-sugg
            | 建议游玩3小时
            em.label 美食|美景
            i.ico02.ico02-add
          a
            div
              img(src='/images/plans/edit/spot01.png')
            em.spot-name 鼓浪屿
            i.ico01.ico01-good
            | 4.5
            i.ico01.ico01-sugg
            | 建议游玩3小时
            em.label 美食|美景
            i.ico02.ico02-add
          a
            div
              img(src='/images/plans/edit/spot01.png')
            em.spot-name 鼓浪屿
            i.ico01.ico01-good
            | 4.5
            i.ico01.ico01-sugg
            | 建议游玩3小时
            em.label 美食|美景
            i.ico02.ico02-add
