extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'mine',
            path: 'plans/',
        }
        
block content
  .content
    .plan_list
      .plan_item
        img(src="/images/plans/mine/list.jpg" width="146" height="147")  
        .plan_desc
          .plan_title  
            h2 小明的假日旅行
          .edit_btn
            button.confirm 
            button.cancel 
          p.date 2014.7.01-2014.7.30 
          button.viewdetail
          .plan_ft 
            更新时间：2014.8.15
            i.delete  
      .plan_item
        img(src="/images/plans/mine/list.jpg" width="146" height="147")  
        .plan_desc
          .plan_title  
            h2 小明的假日旅行
          .edit_btn
            button.confirm 
            button.cancel 
          p.date 2014.7.01-2014.7.30 
          button.viewdetail
          .plan_ft 
            更新时间：2014.8.15
            i.delete  
      .plan_item
        img(src="/images/plans/mine/list.jpg" width="146" height="147")  
        .plan_desc
          .plan_title  
            h2 小明的假日旅行
          .edit_btn
            button.confirm 
            button.cancel 
          p.date 2014.7.01-2014.7.30 
          button.viewdetail
          .plan_ft 
            更新时间：2014.8.15
            i.delete  
      .plan_item
        img(src="/images/plans/mine/list.jpg" width="146" height="147")  
        .plan_desc
          .plan_title  
            h2 小明的假日旅行
          .edit_btn
            button.confirm 
            button.cancel 
          p.date 2014.7.01-2014.7.30 
          button.viewdetail
          .plan_ft 
            更新时间：2014.8.15
            i.delete  
      .plan_item
        img(src="/images/plans/mine/list.jpg" width="146" height="147")  
        .plan_desc
          .plan_title  
            h2 小明的假日旅行
          .edit_btn
            button.confirm 
            button.cancel 
          p.date 2014.7.01-2014.7.30 
          button.viewdetail
          .plan_ft 
            更新时间：2014.8.15
            i.delete  
      .plan_item
        img(src="/images/plans/mine/list.jpg" width="146" height="147")  
        .plan_desc
          .plan_title  
            h2 小明的假日旅行
          .edit_btn
            button.confirm 
            button.cancel 
          p.date 2014.7.01-2014.7.30 
          button.viewdetail
          .plan_ft 
            更新时间：2014.8.15
            i.delete      
    a(href="/plans/create/")
      button.newplan_btn
      
