.full_bg{width:100%;height:700px;background:url("/images/plans/create/background.jpg") no-repeat;padding-bottom:280px;}
.center_container{margin:0 auto;width:780px;height:768px;}
h1.title{color:#08DCA9;font-size:32px;padding-top:200px;padding-left:30px;}
.search_layer{background-color:rgba(0, 0, 0, .5);filter:0.5;progid:DXImageTransform.Microsoft.Gradient(startColorStr=#40000000,endColorStr=#40000000);}
.search_form{width:720px;height:110px;margin-left:30px;padding-top:30px;margin-top:20px;}
.search_in{display:inline-block;}
.text_input{margin-bottom:10px;width:600px;height:45px;background:#fff;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.text_input i{display:inline-block;margin:7px 10px;width:30px;height:30px;}
.mypos{background:url("/images/plans/create/spot_icon.png") no-repeat;}
.dest{background:url("/images/plans/create/fly_icon.png") no-repeat;}
.text_input h2{display:inline-block;vertical-align:top;font-size:20px;color:#08DCA9;line-height:45px;width:100px;}
.s-ip{width:250px;height:45px;line-height: 30px;display:inline-block;vertical-align:top;border: 0 none;font-size: 20px;background:#fff;}
.s-btn{display:inline-block;vertical-align:top;width:110px;height:110px;background:url("/images/plans/create/go_button.png") no-repeat;border:none;cursor:pointer;margin-left:10px;}
.s-btn:hover{position:relative;left:1px;top:1px;border:2px black;}
.city_nav{margin:20px 40px 0;height:30px;padding-bottom:20px;}
.city_nav a{font-size:17px;margin-right:15px;color:#fff;}
.city_nav a:hover{color:#08DCA9;}

