/*
@base css
*/
html body{height: 100%;position: relative;}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.fl{float: left}
.fr{float: right}
.w50{width: 50%}
.color-01{color: #E95A60;}
.color-02{color: #08DCA9;}
/*ico 图标*/
.ico01{display: inline-block;width: 20px;height: 20px;position: relative;top: 7px;*top:9px;left: 0;margin-right: 2px;}
.ico01-route{background:url("/images/common/map.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/map.png',sizingMethod='scale');background-size:14px;height:14px;padding-top: 2px;}
.ico01-spot{background:url("/images/common/calendar.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/calendar.png',sizingMethod='scale');background-size:14px;}
.ico01-cost{background:url("/images/common/cost.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/cost.png',sizingMethod='scale');background-size:14px;}
.ico01-eye{background:url("/images/common/eye.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/eye.png',sizingMethod='scale');top:8px;left:3px;background-size:16px;}
.ico01-source{background:url("/images/common/source.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/source.png',sizingMethod='scale');top:8px;left:5px;background-size:14px;}
.ico01-flag{background-size: 15px;background:url("/images/common/flag.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/flag.png',sizingMethod='scale');top: 5px;left: 5px;}
.ico01-heart{background-size: 15px;background:url("/images/common/heart.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/heart.png',sizingMethod='scale');top: 5px;left: 5px;}
.ico01-good{background:url("/images/common/good.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/good.png',sizingMethod='scale');top: 10px;left: 5px;margin-left: 10px;}
.ico01-sugg{background:url("/images/common/sugg.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/sugg.png',sizingMethod='scale');top: 11px;left: 7px;margin-left: 5px;}
.ico02{display: inline-block;width: 30px;height: 30px;position: relative;top: 0;}
.ico02-position{background-size: 30px;background:url("/images/common/position.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/position.png',sizingMethod='scale');width: 30px;height: 24px;}
.ico02-where{background-size:30px;background:url("/images/common/where.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/where.png',sizingMethod='scale');}
.ico02-qq{background:url("/images/common/ico_qq_20.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/ico_qq_20.png',sizingMethod='scale');width: 20px;height: 20px;}
.ico02-weibo{background:url("/images/common/ico_weibo_20.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/ico_weibo_20.png',sizingMethod='scale');width: 20px;height: 20px;}
.ico02-loading{background-size:30px;background:url("/images/common/loading.gif") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/loading.gif',sizingMethod='scale');top: 10px;}
.ico02-circle{background:url("/images/common/circle.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/circle.png',sizingMethod='scale');top: 10px;left: 5px;}
.ico-lxp-26{display:inline-block;background:url("/images/common/ico_lxp_26.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/common/ico_lxp_26.png",sizingMethod='scale');width: 30px;height: 30px;}

.ico-addpos{display:inline-block;width:30px;height:28px;background-size: 30px;background:url(/images/route/index/btn-add-search.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn-add-search.png',sizingMethod='scale');vertical-align:top;}
/*btn*/
.btn{display: inline-block;width: auto;height: 10px;line-height: 10px;color: #08DCA9;padding: 10px 15px;text-align: center;}
.btn02{display: inline-block;width: auto;height: 10px;line-height: 10px;background: #F7F7F7;color: #333;padding: 5px;text-align: center;border-radius: 5px;margin-right: 10px;}
.btn02-c1{background: #08DCA9;color: #fff;}
.btn02-c2{background: #898989;color: #fff}
.btn02-c3{background: #fff;border: 1px solid #08DCA9;}
.btn02-c4{background: #F30D0D;color: #fff;padding: 10px 20px;font-size: 16px;position: absolute;left: 0;bottom: 10px;*bottom: 0}
/*travepi------top*/
.hd{position: fixed;left: 0;top: 0;width: 100%;height: 60px;line-height: 40px;background-color: rgba(0,0,0,.25);filter: .25;progid: DXImageTransform.Microsoft.Gradient(startColorStr=#40000000,endColorStr=#40000000);z-index: 111111111111;transition: height ease 300ms;overflow: none;}
.logo{float:left;width: 100px;height: 100%;line-height: 80px;*line-height:50px;margin-left: 50px;text-align: center;}
.logo img{width: 100px;height: auto}
.nav{width: 650px;height: auto;overflow: hidden;float: right;text-align: center;}
.nav li{display: inline-block;_zoom:1;*display:inline;width: 70px;height: 40px;*height: 50px;line-height: 40px;*line-height:70px;padding: 10px;margin-right: 3px;}
.nav li a{display: inline-block;_zoom:1;*display:inline;color: #fff;font-size: 14px;width: 100%;height: 30px;text-align: center;padding-bottom:10px;}
.nav li a:hover{color: #08DCA9;}
.bd{width: 100%;height: auto;}
.user{display:inline-block;_zoom:1;*display:inline;height: 40px;*height: 70px;width:100px;line-height: 40px;*line-height:70px;color: #fff;padding-top: 10px;vertical-align: top;padding-bottom: 10px;}
.user img{display:inline-block;_zoom:1;*display:inline;width: 30px;height: 30px;border:3px solid #08dca9;border-radius:20px;-moz-border-radius:20px;-khtml-border-radius:20px;-webkit-border-radius:20px;}
.user .txt{display:inline-block;_zoom:1;*display:inline;height: 40px;width:70px;}
.user .b1{display:block;line-height: 15px;}
.user .b2{display:block;font-size: 12px;line-height: 15px;}
.content{width: 1002px;height: auto;margin: 0 auto;padding-bottom: 80px;padding-top: 60px;}
/*travepi-----footer*/
.ft{width: 100%;background: #494949;}
.ft .top{width: auto;height: 130px;padding: 45px 20px 20px 100px;}
.ft .top .company-name{margin:15px 0 0 5px;}
.ft .top .company-name p{display: inline-block;line-height: 1.5;}
.ft .ft-c{width: 1200px;margin:0 auto;}
.m-p{width: 230px;height: auto;color: #979797; padding-left: 20px;}
.m-p h3{font-weight: bold;font-size: 18px;margin-bottom: 10px;color:#fff;}
.m-p p{font-size: 13px;line-height: 2;}
.m-p p a{font-size: 15px;line-height: 2;vertical-align: super;margin-left: 5px;color: #979797;}
.bd_l{border-left: 1px solid #979797;width: 280px;}
.email-ip{width: 150px;height: 20px;padding: 5px 30px 5px 15px;border: 0 none;border-radius: 30px;}
.email{margin-right: -30px;margin-top: -30px;background: #a22;position: relative;float: right;}
.ft .bottom{width: auto;height: 50px;line-height: 1.5;padding: 10px 80px;background: #fff;color: #555;text-align: right;}
.ft .bottom img{width: 70px;height: 30px;float: left;}

.ft a img{visibility: hidden;display: inline-block;}
/*backtop css*/
.backToTop{bottom: 0px!important;bottom: auto;position:fixed;_position:absolute;width:43px;height:43px;background: url(/images/common/gotop.png) no-repeat 0 0;cursor: pointer;z-index:1990;bottom:0;display:none;}
.backToTop:hover{background-position: 0 -43px;-webkit-transition:background 0.2s ease 0s;-moz-transition:background 0.2s ease 0s;-o-transition:background 0.2s ease 0s;-ms-transition:background 0.2s ease 0s;transition:background 0.2s ease 0s;}
/*登录*/
.lg-layer{position: fixed;top: 60px;right: -600px;width: 400px;height: 600px;padding: 80px 0 40px;z-index: 9999999999;background:url(/images/common/login/bg-webLogin.png) center;font-family: '黑体';/* display: none; */}
h1.logo{height:70px;padding-top:5px;}/*原先的高度阻碍其它点击事件*/
.lg-contain{width:250px;margin:180px auto;text-align:center;}
.lg-contain h2{font-size:20px;color:#fff;}
.lg-contain a{display:block;width:174px;height:31px;margin:20px auto;}
.lg-contain .weibo{background:url(/images/common/login/weibo_login.png) no-repeat;}
.lg-contain .weibo:hover{background:url(/images/common/login/weibo_login_hover.png) no-repeat;}
.lg-contain .qq{background:url(/images/common/login/qq_login.png) no-repeat;}
.lg-contain .qq:hover{background:url(/images/common/login/qq_login_hover.png) no-repeat;}
/*sider css*/
.sider{position: fixed;top: 60px;right: -600px;width: 550px;height: 600px;padding: 0 25px 40px;z-index: 111111;background: #fff;font-family: '黑体';/* display: none; */}
.shadow_layer{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background: #555;opacity: .5;filter:alpha(opacity:50)z-index: 11;/* display: none; */z-index: 115;}
.suggestion {width: 385px; position:relative; margin-left:10px; padding-left:5px; border:2px solid #ddd; display:none; font: 16px/22px arial; background-color: #ededed;}

/* uesr menu panel*/
.user a{display: inline-block;_zoom:1;*display:inline;color: #fff;font-size: 12px;height: 30px;padding-left:3px;vertical-align:top;}
.user a:hover{color: #08DCA9;}

/*.drop-menu {display: none; width: 65px; right: 57px; top: 46px; position:absolute; z-index: 200; text-align: center;}*/
/*.user-center-menu-list .user-logout {*/
/*	padding: 0px;*/
/*} */
/*.drop-menu li {*/
/*width: 65px; right: 57px; height: 41px;z-index: 200; text-align: center;*/
/*}*/
/*.drop-menu li a {*/
/*width: 65px; right: 57px; z-index: 200; text-align: center;padding: 0px; color: black;*/
/*}*/
/*.drop-menu li a:hover {color: #08DCA9;}*/
/*.user-center-menu-list {background-color: rgba(249, 252, 249, 1); color: blue;}*/
