doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
        title app下载-旅行派
        meta(name="keywords" content="旅行派app下载")
        meta(name="description" content="旅行派app下载")
        script(src='/javascripts/lib/jquery-1.11.1.min.js', rel='javascripts')
        script.
            var page_var = {
                id: 'app/download',
                path: '',
                use_require_js: false
            }
        script.
            var page_url = location.search;
            var page_path = page_var.path,
                page_id = page_var.id,
                use_require_js = page_var.use_require_js,
                cssRootUrl = '/stylesheets/',
                jsRootUrl = '/javascripts/';
            /* load css */
            var loadCss = function(page_path, page_id) {
                var link = document.createElement("link");
                link.type = "text/css";
                link.rel = "stylesheet";
                link.href = '/stylesheets/' + page_path + page_id + '.css';
                document.head.appendChild(link);
            };
            loadCss(page_path, page_id);
        link(href='/stylesheets/common/reset.css', rel='stylesheet')


    body
        .Download_wrap
            .Download_main
                .Download_phone
                    #phone_slider
                        img(src='/images/download/scroll/5.png',alt='' style='display:block')
                .Download_intro
                    .Download_biglogo
                        img(src='/images/download/60x60.png',alt='')
                        h1 旅行派
                    .Download_text
                        h2 我们是专注于旅行行程安排的旅行攻略，我们是您的旅行导游
                        h4 一键规划旅行路线，随时调整，想改就改
                        h4 一键查看景点信息，详细信息、应有尽有
                        h4 一键获取旅游干货，去繁就简、效率第一
                        h4 一键直接跟旅行达人聊天、讨论私人旅行计划
                        h4 一键发现周边好去处，吃喝玩乐、样样都有
                    .Download_download
                        .Download_btn
                            h3.Download_title DOWNLOAD下载
                                i
                            a.Download_appdown(href='https://itunes.apple.com/us/app/lu-xing-pai-lu-you-da-ren/id1006591167?l=zh&ls=1&mt=8#', target=_blank)
                            a.Download_anddown(href='/lxp_v1.0.apk', target=_blank)
                        .Download_two_code(style="display:none")
                            img(src='/images/download/2code.png',alt='')
                        h2.也可在各大安卓应用商店下载“旅行派”


                    