.Download_main{margin-top:100px;margin-bottom:80px;background:url(/images/download/wave_backgroud.png) no-repeat bottom;background-size:100% 400px;width:100%;height:585px;}
.Download_phone{float:left;background:url(/images/download/phone.png) no-repeat top;background-size:460px,580px;width:560px;height:580px;position:relative;}
.Download_phone #phone_slider{width:320px;height:480px;margin-left:170px;margin-top:90px;z-index:2;}
.reflect{position:absolute;left:350px;top:0px;z-index:3;}
.Download_intro{display:inline-block;margin-left:20px;}
.Download_biglogo{margin-top:70px;}
.Download_text{margin-top:80px;color:white;}
.Download_text h2{font-size:24px;margin-bottom:25px;}
.Download_text h4{font-size:16px;margin-bottom:10px;font-weight:normal;}
.Download_download{display:inline-block;margin-top:30px;height:70px;width:300px;}
.Download_title{margin:5px 0 20px;color:white;font-size:20px;}
.Download_appdown{margin-right:10px;display:inline-block;background:url(/images/download/APP_download.png) no-repeat;width:138px;height:33px;}
.Download_anddown{display:inline-block;background:url(/images/download/And_download.png) no-repeat;width:138px;height:33px;}
.Download_two_code{display:inline-block;vertical-align:top;margin-top:-40px;margin-left:210px;}

