.main_container{margin:0 auto;width:1002px;}

.plan_list{margin-top:100px;overflow:hidden;}
.plan_item{float:left;width:480px;height:170px;background:#f7f8f8;margin:0 20px 20px 0;}
.plan_item img{margin:10px 20px 0 20px;border-radius:73px;-moz-border-radius:73px;-webkit-border-radius:73px;}
.plan_desc{display:inline-block;height:140px;width:280px;vertical-align:top;}
.plan_title{display:inline-block;height:30px;width:180px;margin-top:25px;background:#e3e4e4;}
.plan_title h2{margin-left:5px;line-height:30px;font-size:19px;color:#08DCA9;}
.edit_btn{display:inline-block;margin-left:10px;width:86px;}
.confirm{background-image:url("/images/myplan/confirm_btn.png");height:23px;width:40px;margin-right:4px;}
.cancel{background-image:url("/images/myplan/cancel_btn.png");height:23px;width:40px;}
p.date{margin:5px 0 10px 10px;}
.viewdetail{background-image:url("/images/myplan/viewdetail_btn.png");height:23px;width:65px;margin:0 0 30px 15px;}
.plan_ft{margin-left:120px;color:#d3d4d4;}
i.delete{margin-left:30px;margin-top:5px;display:inline-block;background:url("/images/myplan/delete_btn.png") no-repeat;width:15px;height:15px;cursor:pointer;}
a .newplan_btn{border:none;background:url("/images/myplan/newplan_btn.png") no-repeat;height:55px;width:170px;margin:40px 0 50px 800px;}
