.full-screen{width:100%;position: relative;}

.route_container{width:582px;border: 1px solid #DDD;}
.wrap_left{margin:5px 2px;;width:584px;overflow: hidden;display: inline-block;}
/****head****/
.search-bg{background:#fff;color:#898989;height:30px;width:544px;font-size:14px;border:1px solid #ddd;box-shadow: 5px 2px 6px #ccc;margin:5px 15px 10px;}
.search-bg b{display:inline-block;vertical-align:top;line-height:30px;}
.search-bg .change{margin-left:8px;color:#ccc;font-size:12px;}
.search-bg .line{height:25px;margin:3px 20px 3px;border-right:1px solid #4fa7bd;}
.search-bg input{border:0 none;vertical-align:top;height:30px;line-height:20px;font-size:14px;width:350px;}

#fromWrap{display: inline-block;vertical-align: top;cursor: pointer;width:80px;height:30px;position: absolute;z-index: 100;}
/****fileter-nav****/
.filter-nav{height:24px;line-height:24px;padding-left:10px;padding-top:5px;}
.filter-nav li{display:inline-block;position:relative;}
.filter-nav>li > a{display:inline-block;color:#898989;padding-left:10px;letter-spacing:1px;font-size:1.1em;}
.filter-nav>li > a:hover{border-bottom:2px solid #4fa7bd;color:#4fa7bd;}
.filter-nav .layer{display:none;width:240px;min-height:100px;position:absolute;left:10px;background:#F6F5F1;border:1px solid #C5C4C1;z-index:111;box-shadow:1px 5px 10px #CCC;padding-bottom:30px;font-size:14px;}
.filter-nav .layer li{display:block;padding:5px;color:#1785FE;cursor:pointer;}
    /*.filter-nav .layer li:hover{background-color: #007AFF;color: #fff;}*/
.filter-nav .layer li .iradio_square-blue+label{float:right;width:240px;padding-left:40px;margin-right:-10px;margin-left:-40px;box-sizing:border-box;}
.filter-nav .layer li .iradio_square-blue:not(.checked)+label:hover{background-color:#007AFF;color:#fff;}
.filter-nav .layer li .iradio_square-blue.checked+label{color:#333;font-weight:bold;}
.filter-nav .layer li.last-li{border-top:1px solid #aaa;}
.filter-nav .layer li.last-li li{color:#111}
.list-t1{padding-left:.5em;color:#000;}
.list-t2{color:#000;}
.list-last{position:absolute;bottom:0;left:0;width:100%;height:28px;border:0;border-top:1px solid #CCC;background-color:#edebe4;background-image:url("/images/route/index/collapse_menu.png");background-position:center;background-size:15px;background-repeat:no-repeat;cursor:pointer;}

/**the gap include select-list & filter-option & the number of route**/
.gap{background:#fff;height:35px;width:582px;border-bottom:1px solid #ccc;font-size:14px;}
.route-sum{display:inline-block;background-color:#f7f7f7;height:25px;line-height:25px;padding-left:15px;color:#898989;width:445px;margin-top:5px;margin-right:5px;}
.bluebg{display:inline-block;background:#2b708c;margin-top:5px;padding:0 10px;text-align:center;height:25px;line-height:25px;color:#fff;cursor:pointer;}
.select-list{width:585px;border-right:1px solid #ccc;margin: 5px 10px;}
.option{font-size:12px;margin:5px 5px 0;}
.option i{vertical-align:middle;margin-left:10px;}


/***route list***/
.routelist{height:500px;width:582px;overflow-y:scroll;overflow-x:hidden;}
.routelist .route{border-bottom:1px solid #ccc;height:170px;width:585px;background-color:#fff;}
.routelist .route:hover{background-color:#f7f7f7;}
.left{position:relative;margin:10px;display:inline-block;}
.most_tag{width: 71px;height: 71px;position:absolute;top:0;left:0;}
.left h2{padding:7px 0 0 10px;font-size:16px;color:#fff;transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);}
.right{position:relative;display:inline-block;height:160px;margin:10px 20px 0px 10px;width:360px;vertical-align:top;}
.r-title{display:inline-block;font-size:16px;}
.usetimes{display:inline-block;font-size:14px;color:#898989;}
.right p{color:#4fa7bd;}
.right .txt{display:inline-block;font-size:14px;color:#898989;line-height:1.3;margin-top:10px;width:100%;height:40px;}
#list-sub-01-tab3{position:relative;}
.fork{position:absolute;right:20px;bottom:50px;}


/*drop layer*/
.drop_layer{position:relative;border-bottom: 1px solid #ddd;}
.tab_item{height:175px;}
/*the nav of a route-item's drop layer*/
.tab_nav{width:580px;height:30px;background-color:#e0f6f1;}
.tab_nav li{display:inline-block;height:30px;line-height:30px;font-size:14px;padding:0 10px;}
/*.tab_nav a.selected{background-color: #2b708c;}*/
.tab_nav a{color:#898989;}
.tab_nav a:hover{color:#4fa7bd;}
.tab_nav a.selected{color:#4fa7bd;}
.nav_close{position: absolute;right: 30px;top:6px;color: #0479F2;font-weight: bold;cursor: pointer;}

/*推荐理由*/
/*
.tab_item .desc{display:inline-block;margin:20px 10px;font-size:14px;vertical-align:top;}
.w340{width:340px;}
.w180{width:180px;}
.desc b{margin:10px;}
.desc p{margin:10px;line-height:1.3;}
.items{line-height:1.5;}
.items dd{margin-left:15px;}
*/

/*路线预览*/
ul.preview{padding:20px 20px 0;font-size:14px;line-height:1.5;}
.tab_item .more{display:inline-block;width:100%;text-align:center;color:#898989;font-size: 16px;line-height: 30px;}
.tab_item .more:hover{color:#4fa7bd;}
.preview li{padding-bottom:10px;}

/*misc-view*/
.tab_item .about-list{margin:0;}
.tab_item .about-list li{padding:5px 20px;margin:0;}
.tab_item .about-list h1{width:280px;display: inline-block;vertical-align: middle;font-weight: normal;}

/*img-scroll*/
.rel{position: relative;}
#prev{position: absolute;top: 80px;left: 30px;font-size: 40px;font-weight: bold;cursor: pointer;}
#next{position: absolute;top: 80px;right: 30px;font-size: 40px;font-weight: bold;cursor: pointer;}
#scroll li{width: 300px;height: 150px;float: left;margin-left:10px;}
#scroll{margin-left: -315px;width: 4000px;height: 150px;margin-top:10px;}
#photo-list{width: 750px;/* overflow: scroll;*/}
#scroll img{width: 300px;height: 150px;}

/*the layer slide from the side*/
.slider_layer{display:none;width:584px;height:594px;position:absolute;left:-580px;top:53px;overflow:hidden;background-color:#fff;}
.tab_nav{width:580px;height:30px;background-color:#e0f6f1;position:relative;}
.slider_layer .tab_nav{border-bottom: 1px solid rgba(0,0,0,0.2)}
.slider_hd{padding:10px 20px;position:relative;}
.slider_hd .desc{text-indent: 2;line-height: 1.5;font-size: 14px;color:#898989;}
.slider_hd b{color:#4fa7bd;}
.slider_hd span{margin-right: 30px;}
.slider_hd .fork{position: absolute;bottom: 15px;right:30px;}
.slider_layer .tab_nav{padding-left: 10px;}
.tab-c{height:420px;overflow-y:scroll;}
.date{border-radius:20px;background:#4fa7bd;color:#fff;padding:3px 2px 2px;margin-right:15px;font-size:12px;}

.tab-c .ifNull{font-size: 20px;}
.tab-c .ifNull b{font-weight: bold;}
.tab-c .ifNull a{font-style: italic;color:#4fa7bd;}
/*sider css 侧栏隐藏域*/

.c .t1{height: auto;line-height: 30px;font-size: 16px;padding-left: 15px;}
.c .t2{color: #4fa7bd;}
.c .l{overflow: hidden;margin:0 45px;}
.c .l li{line-height: 25px;color: #898989;font-size: 14px;}
.c p .txt{color: #898989;font-size: 16px;}

.c h1{border-left:5px solid #4fa7bd;height: 25px;line-height:25px;font-size:25px;margin-bottom:20px;padding-left:10px;}
/*.routename{margin-bottom:15px;}*/
.c p span{display:inline-block;height:30px;line-height: 30px;vertical-align:top;font-size:18px;color:#898989;}
.c p h4{margin-left:15px;}
.dot{color: #4fa7bd;font-size: 30px;line-height: 30px;padding-left:20px;padding-right:5px;}
.moredesc{font-size:14px;color:#898989;margin-left:30px;width:500px;height:auto;overflow:hidden;}

.about-list{margin:20px 0 40px 25px;}
.tab-c{padding-right:10px;}
.tab-c ul{padding-right:10px;}
ul.about-list li{width:auto;height: auto;background: #f8f8f9;position: relative;padding: 10px 10px 5px 70px;margin-bottom: 15px;border-bottom:1px solid #ddd;border-radius:3px;}
li h1.t1{color:#000;margin-bottom:5px;}
.sider-userimg{position: absolute;left: 10px;top: 10px;width: 50px;height: 50px;border-radius:25px;-moz-border-radius:25px;-khtml-border-radius:25px;-webkit-border-radius:25px;}
.about-list .t1{color:#000;height: 30px;width: 100%;line-height: 30px;font-size: 16px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.about-list .au{color: #4fa7bd;margin-right:5px;display: inline-block;width:120px;}
.about-list em{color: #999;margin-right:5px;}
.about-list .time{color: #aaa;}
.about-list .txt{color: #999;font-size: 14px;margin-top: 10px;margin-bottom: 10px;line-height: 1.3;overflow: hidden;}
.content .more{display:none;width: 100%;height: 50px;line-height: 50px;text-align: center;float: left;font-size: 14px;}
.loading{width: 100%;padding-top:50px;height: 125px;line-height: 50px;text-align: center;font-size: 14px;}
li p.ico-g{display:inline-block;color:#4fa7bd;}

.no-data {font-size: 20px;height: 100px;text-align: center;padding-top: 40px;color: gray;}
.no-data a{color: blue;}
/*pop-layer*/
.alert_backg {width:100%;height:100%;top:0px;left:0px;position:absolute;background:#000;opacity:0;filter:alpha(opacity:0)}
.alert_frame {width:340px;height:120px;top:50%;left:50%;position:absolute;display:inline;margin:-60px 0 0 -170px;opacity:0;filter:alpha(opacity:0)}
.alert_frame .top_l {width:5px;height:5px;float:left;overflow:hidden;background:url(/images/route/index/poplayer/corner.png) no-repeat;}
.alert_frame .top_c {width:330px;height:5px;float:left;overflow:hidden;background:url(/images/route/index/poplayer/wraplayer.png) repeat-x;}
.alert_frame .top_r {width:5px;height:5px;float:left;overflow:hidden;background:url(/images/route/index/poplayer/corner.png) no-repeat -5px 0;}
.alert_frame .con {width:100%;height:110px;float:left;overflow:hidden;}
.alert_frame .con_l {width:5px;height:100%;float:left;overflow:hidden;background:url(/images/route/index/poplayer/wraplayer.png) repeat-y;}
.alert_frame .con_c {width:330px;height:100%;float:left;overflow:hidden;background:#fff;}
.alert_frame .con_r {width:5px;height:100%;float:left;overflow:hidden;background:url(/images/route/index/poplayer/wraplayer.png) repeat-y;}
.alert_frame .bot_l {width:5px;height:5px;float:left;overflow:hidden;background:url(/images/route/index/poplayer/corner.png) no-repeat 0 -5px;}
.alert_frame .bot_c {width:330px;height:5px;float:left;overflow:hidden;background:url(/images/route/index/poplayer/wraplayer.png) repeat-x;}
.alert_frame .bot_r {width:5px;height:5px;float:left;overflow:hidden;background:url(/images/route/index/poplayer/corner.png) no-repeat -5px -5px;}
.alert_frame .alert_tit {width:328px;height:70px;float:left;color:#fff;line-height:27px;border:1px solid #fff;background-color:#2b708c;}
.alert_frame .alert_tit h2 {float:left;margin:24px 50px;font-size:26px;font-weight:normal;font-family:"\u5FAE\u8F6F\u96C5\u9ED1";}
.alert_frame .alert_tit em {width:64px;height:64px;overflow:hidden;float:right;cursor:pointer;background:url(/images/route/index/poplayer/cancel.gif) no-repeat;display:inline;margin:10px 10px 0 0;}
/*.alert_frame .alert_tit em.hove {background:url(/images/route/index/poplayer/gnbimgs.gif) no-repeat -8px 0;}*/
.alert_frame .alert_con {width:330px;height:81px;float:left;border-top:1px solid #e5e5e5;}
.plan_option{width:100%;margin:20px 0 20px 50px;text-align:left;line-height:30px;color:#000;font-size:14px}
.plan_option form div{margin-bottom:20px;}
.plan_option b{font-size:20px;display: inline-block;width:120px;}
.plan_option label{font-size:18px;color:#898989;display: inline-block;width:100px;}

/*poplayer edited by @lyn*/
.but {width:100%;margin:20px 50px;}
.mkplan {width:112px;height:30px;background:url(/images/route/index/btn_mkplan_normal.png) no-repeat;border:none;display:inline-block;cursor:pointer;}
.mkplan:hover{background:url(/images/route/index/btn_mkplan_hover.png) no-repeat;}
.skip {margin-left:40px;width:82px;height:30px;background:url(/images/route/index/btn_skip_normal.png) no-repeat;border:none;display:inline-block;cursor:pointer;}
.skip:hover{background:url(/images/route/index/btn_skip_hover.png) no-repeat;}
.title {width:800px;height:35px;color:#fff;line-height:35px;font-family:Verdana;font-weight:bold;text-align:left;margin:20px auto 0 auto;font-size:24px;}


/* iCheck plugin Square skin, blue
----------------------------------- */
.icheckbox_square-blue,
.iradio_square-blue {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 23px;
    height: 23px;
    background: url(../images/route/index/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}

.iradio_square-blue {background-position: 0 0;}
.iradio_square-blue.hover {background-position: -24px 0;}
.iradio_square-blue.checked {background-position: -48px 0;}
.iradio_square-blue.disabled {background-position: -72px 0;cursor: default;}
.iradio_square-blue.checked.disabled {background-position: -96px 0;}

/*
.icheckbox_square-blue {
    background-position: 0 0;
}
    .icheckbox_square-blue.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-blue.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-blue.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-blue.checked.disabled {
        background-position: -96px 0;
    }
.iradio_square-blue {
    background-position: -120px 0;
}
    .iradio_square-blue.hover {
        background-position: -144px 0;
    }
    .iradio_square-blue.checked {
        background-position: -168px 0;
    }
    .iradio_square-blue.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-blue.checked.disabled {
        background-position: -216px 0;
    }
*/

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-blue,
    .iradio_square-blue {
        background-image: url(../images/route/index/blue@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}

/*ico*/
.ico-position{display:inline-block;width:15px;height:15px;margin:7px;background-size: 15px;background:url("/images/route/index/position02.png") no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/position02.png',sizingMethod='scale');}
.ico-arr01{display:inline-block;width:15px;height:15px;margin:1px 3px;background-size: 15px;background:url(/images/route/index/arr-down-grey.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/arr-down-grey.png',sizingMethod='scale');vertical-align:bottom;}
.ico-arr02{display:inline-block;width:15px;height:15px;margin:1px 3px;background-size: 15px;background:url(/images/route/index/arr-up-grey.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/arr-up-grey.png',sizingMethod='scale');vertical-align:bottom;}
.ico-arr03{display:inline-block;width:15px;height:15px;margin-top:8px;margin-left:8px;background-size: 15px;background:url(/images/route/index/arr-down-white.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/arr-down-white.png',sizingMethod='scale');vertical-align:top;}
.ico-arr04{display:inline-block;width:15px;height:15px;margin-top:8px;margin-left:8px;background-size: 15px;background:url(/images/route/index/arr-up-white.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/arr-up-white.png',sizingMethod='scale');vertical-align:top;}
.ico-addpos{display:inline-block;width:30px;height:30px;background-size: 30px;background:url(/images/route/index/btn-add-search.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn-add-search.png',sizingMethod='scale');vertical-align:bottom;}
.ico-fork{display:inline-block;width:112px;height:30px;background:url(/images/route/index/btn_fkroute_normal.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn_fkroute_normal.png',sizingMethod='scale');}
.ico-fork:hover{display:inline-block;width:112px;height:30px;background:url(/images/route/index/btn_fkroute_hover.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn_fkroute_hover.png',sizingMethod='scale');}

/*btn*/
.btn-close2{display:inline-block;width:14px;height:14px;background:url(/images/route/index/btn-close2-filter.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn-close2-filter.png',sizingMethod='scale');}
.btn-close3{display:inline-block;width:16px;height:16px;background:url(/images/route/index/btn-close3-tab-normal.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn-close3-tab-normal.png',sizingMethod='scale');}
.btn-close3:hover{display:inline-block;width:16px;height:16px;background:url(/images/route/index/btn-close3-tab-hover.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn-close3-tab-hover.png',sizingMethod='scale');}
.btn-arr-left{display:inline-block;width:32px;height:32px;background:url(/images/route/index/btn-arr-left-normal.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn-arr-left-normal.png',sizingMethod='scale');}
.btn-arr-left:hover{display:inline-block;width:32px;height:32px;background:url(/images/route/index/btn-arr-left-hover.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn-arr-left-hover.png',sizingMethod='scale');}
.btn-arr-right{display:inline-block;width:32px;height:32px;background:url(/images/route/index/btn-arr-right-normal.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn-arr-right-normal.png',sizingMethod='scale');}
.btn-arr-right:hover{display:inline-block;width:32px;height:32px;background:url(/images/route/index/btn-arr-right-hover.png) no-repeat;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/route/index/btn-arr-right-hover.png',sizingMethod='scale');}

/*map*/
.map_container{position: absolute;right: 0;top: 0;margin-top:10px;border: 1px solid #DDD;}
.map_container select{font-size: 16px;}
#map_inner{width:1px;height:596px;}
.map_marker {
  cursor: pointer;
  position: absolute;
  white-space: nowrap
}

.map_marker i
{
  background: url(/images/route/index/icon-map-pos.png) no-repeat;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  width: 34px;
  line-height: 36px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1
}

.map_marker em
{
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px 0 #ccc;
  color: #333;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 28px;
  line-height: 28px;
  max-width: 120px;
  *width: 80px;
  color: #333;
  left: -14px;
  top: -15px;
  *top: -14px;
  padding: 0 18px;
  border-radius: 0 14px 14px 0
}