.main_container{margin:0 auto;width:1002px;position: relative;}

#map_container { margin-top:70px;width:100%; max-width:800px; background-color:#FFF;}
.title{font-size:24px;}
i.line{color:#4fa7bd;}
.list-01{overflow:hidden;height:350px;}
.mt-50{margin-top: 50px;}
.rel{position:relative;}
.text_layer{position:absolute;bottom:7px;left:10px;width:70px;height:40px;padding:10px 10px;background-color:rgba(0,0,0,.25);filter:0.25;progid:DXImageTransform.Microsoft.Gradient(startColorStr=#40000000,endColorStr=#40000000);}
.text_layer h2{font-size:20px;color:#fff;}

.col-thin{float:left;width:190px;height:325px;overflow: hidden;}
.col-thick{float:left;width:295px;height:325px;overflow: hidden;}
.row-long{float:left;width:295px;height:175px;overflow: hidden;}
.row-short{float:left;width:295px;height:145px;overflow: hidden;}
.row-short .rel{overflow: hidden;}
.type01 img:hover, .type02 img:hover, .type03 img:hover, .type04 img:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.type01 img:hover, .type02 img:hover, .type03 img:hover, .type04 img:hover{
    -moz-transition: all 1.2s;
    -webkit-transition: all 1.2s;
    -o-transition: all 1.2s;
    -ms-transition: all 1.2s;
    transition: all 1.2s;
}

.bot{margin-bottom:5px;}
.rig{margin-right:5px;}
.type01{width:190px;height:325px;}
.type02{width:295px;height:175px;}
.type03{width:145px;height:145px;}
.type04{width:145px;height:145px;}
.fl-l{float:left;}
.fl-r{float:right;}

/*left navigation*/
.left-nav {margin:20px; float:left; display:block;}
.left-nav ul {padding:0; margin:0; list-style-type: none;;}
.left-nav ul li {position:relative;display:block; text-align:center; text-decoration:none; width:220px;margin:0 10px;height:35px;line-height:35px;color:#333; border:1px solid #ccc; background:#fff;font-size:18px;padding:10px 0;z-index:;}
.left-nav ul li h2{padding-right: 20px;}
.left-nav ul li .left-nav-second-level {display:none;margin-left: 220px;padding:10px 20px;line-height: 1.8;text-align: left;}
.left-nav ul li .left-nav-second-level a {display: inline-block;}
.left-nav ul li:hover{border-color:#4fa7bd;border-right:none;width:230px;}
.left-nav ul li:hover a {color:#898989;padding: 0 10px;}
.left-nav ul li:hover a:hover{background-color:#4fa7bd;color:#fff;}
.left-nav ul li:hover .left-nav-second-level {display:block;position:absolute;top:-1px;width:250px;font-size: 14px;border:1px solid #4fa7bd;background-color:#fff;z-index:100;}
.left-nav ul li:hover h2{color:#4b90ac;}
.left-nav ul li:hover .city-num{color:#4fa7bd;}
.left-nav .city-num {font-size: 14px;position:absolute;top:0;right:0;background:#fff;padding-right: 40px;width: 36px;height:55px;line-height:55px;z-index:101;}

/*from location*/
.search_layer{width:240px;}
/*border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;*/
.search_form{height:40px;line-height:40px;background: #fff;color: #898989;font-size: 14px;border: 1px solid #ddd;box-shadow: 5px 2px 6px #ccc;margin-bottom: 10px;border-radius: 20px;}
.search_in{display:inline-block;}
.text_input{background:#fff;height:24px;line-height:24px;margin-left: 3px;}
.text_input h4{display:inline-block;vertical-align:top;font-size:16px;color:#4fa7bd;margin:0 10px;}
.s-ip{width:150px;padding-left:10px;height:20px;display:inline-block;vertical-align:top;font-size: 16px;background:#fff;}

.selected {color: red; background-color: white;}
