/*.Download_wrap{margin-top:100px;margin-bottom:80px;background:url(/images/download/wave_backgroud.png) no-repeat bottom;background-size:100% 400px;width:100%;height:585px;}*/
body{background:url(/images/download/wrap_bg.jpg) !important;height: 100%;}
.Download_wrap{padding-top:5em;background:url(/images/download/body_bg.jpg);width:100%;}
.Download_main{width:50em;margin:0 auto;overflow: hidden;}
/*.Download_main{width:80%;margin:0 auto;overflow: hidden;}*/
.Download_phone{
	float:left;
	background:url(/images/download/iphone_frame.png) no-repeat top;
	/*background-size: 380px 795px;*/
	background-size: 19em 39em;
  	width: 22em;
  	height: 42em;
  	/*width: 450px;*/
  	/*height: 850px;*/
  	position:relative;
}
.Download_phone #phone_slider{
	width: 15em;
	height: 25em;
	margin-left: 3.5em;
	margin-top: 7em;
	/*width: 300px;*/
	/*height: 500px;*/
	/*margin-left: 75px;*/
	/*margin-top: 145px;*/
	z-index: 2;
}
.Download_phone img{
	/*width: 300px;*/
	/*height: 500px;*/
	width: 15em;
	height: 25em;
}
/*.Download_intro{display:inline-block;margin-left:50px;width:500px;}*/
.Download_intro{display:inline-block;margin-left:2.5em;width:25em;}
/*.Download_biglogo{margin-top:40px;}*/
.Download_biglogo{margin-top:2em;}
.Download_biglogo h1{
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 1.7em;
	line-height: 1.5;
	padding-bottom: .5em;
	padding-left: .5em;
	/*padding-bottom: 10px;*/
	/*padding-left: 10px;*/
	color: #1cc091;
}
.Download_biglogo img{
	/*width: 70px;*/
	/*height: 70px;*/
	width: 3.5em;
	height: 3.5em;
}
/*.Download_text{margin-top:30px;color:#333;}*/
.Download_text{margin-top:1.5em;color:#333;}
/*.Download_text h2{font-size:24px;margin-bottom:50px;line-height: 2;}*/
.Download_text h2{font-size:1.2em;margin-bottom:2.5em;line-height: 2;}
/*.Download_text h4{font-size:20px;margin-bottom:10px;font-weight:normal;line-height: 2;}*/
.Download_text h4{font-size:1em;margin-bottom:.5em;font-weight:normal;line-height: 2;}
/*.Download_download{display:inline-block;margin-top:70px;margin-right:20px;height:70px;width:350px;}*/
.Download_download{display:inline-block;margin-top:3.5em;margin-right:1em;height:3.5em;width:21em;}
/*.Download_title{margin:5px 0 40px;color:#333;font-size:20px;}*/
.Download_title{margin:.5em 0 2em;color:#333;font-size:1em;}
/*.Download_appdown{margin-right:30px;display:inline-block;background:url(/images/download/APP_download.png) no-repeat;width:138px;height:33px;}*/
.Download_appdown{margin-right:3em;display:inline-block;background:url(/images/download/APP_download.png) no-repeat;width:9em;height:3em;background-size: contain;}
/*.Download_anddown{display:inline-block;background:url(/images/download/And_download.png) no-repeat;width:138px;height:33px;}*/
.Download_anddown{display:inline-block;background:url(/images/download/And_download.png) no-repeat;width:9em;height:3em;background-size: contain;}
.Download_two_code{display:inline-block;}

