head
  title 行程安排
  style
    include timeline.css
  script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js')
  script(src='/javascripts/timeline.js')
  // script(src='/javascripts/jq.js')
  
