        #navigation{
          vertical-align:top;
          display : inline-block;
          width : 25%;
          margin : 0px;
          background-color : #fcaf3e;
        }
        #detailRoute{
          vertical-align:top;
          display : inline-block;
          margin : 0px;
          background-color : #3465a4;
          width : 40%;
        }
        html, body{
          vertical-align:top;
          display : inline-block;
          margin : 0px;
          background-color : #babdb6;
          width : 100%;
          height : 100%;
        }
        #map{
          vertical-align:top;
          display : inline-block;
          margin : 0px;
          background-color : #729fcf;
          width : 35%;
          height : 80%;
        }
