extends ../common/base

block page_var
    script.
        var page_var = {
            id: 'login',
            path: 'account/',
        }

block content
  .main_container
    a(href="https://api.weibo.com/oauth2/authorize?client_id=#{weibo_client_id}&response_type=code&redirect_uri=#{weibo_callback}"): img(src="http://www.sinaimg.cn/blog/developer/wiki/32.png")
    <br>
    a(href="https://graph.qq.com/oauth2.0/authorize?client_id=#{qq_client_id}&response_type=code&redirect_uri=#{qq_callback}&state=01"): img(src="/images/account/login_qq.png")
