extends ../common/base
block page_var
    script.
        var page_var = {
            id: 'welcome',
            path: 'account/',
        }

block content
  .main_container
        .user_info
            p 欢迎您：#{result.nickName}
            img(src="#{result.avatar}")

