doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        block page_var
        script.
            var page_url = location.search; 
        link(href='/stylesheets/common/reset.css', rel='stylesheet')
        link(href='/stylesheets/common/travelpi.css', rel='stylesheet')
        script(src='/javascripts/lib/jquery-1.11.1.min.js', rel='javascripts')
        script(src='/javascripts/lib/checklogin.js', rel='javascripts')
        script(data-main='/require/main.js', src='/javascripts/lib/require.js')
        title 旅行派

    body
        #top.hd
            h1.logo
                a(href='/')
                    img(src='/images/common/logo.png')
            ul.nav.f-cb
                li
                    a(href='/')
                        | 首页
                li
                    a(href='/target/')
                        | 目的地
                li
                    a(href='/plans/create/')
                        | 新建计划
                li
                    a(class='myplans')
                        | 我的计划
                li
                    a(href='/download/')
                        | APP下载
                if user_info
                    .user(id='J-user-icon' data-id=user_info.id)
                        img.user-avatar(src='#{user_info.avatar}')
                        a(href='/account/logout/' class='logout') 退出
                    //
                    .drop-menu(id='J-navi-user-center-drop-menu')
                        ul.user-center-menu-list
                            li.user-logout
                                a(href='/account/logout/' class='logout') 退出
                else
                    li
                        a.login 登录
        .lg-layer(style='display: none;')
            h1.logo
                img(src='/images/common/logo.png')
            .lg-contain
                h2 使用第三方平台登录
                - var source_url = 
                a.weibo(href=config.weibo_call_back)
                a.qq(href=config.qq_call_back)
        .layer(style='display: none;')
    
        block content

        .ft
            .ft-c
                .top
                    .m-p.fl
                        h3 关于我们
                        p
                            | 地址:北京市海淀区海淀西大街70号3层 <br>
                            | 邮编:100080 <br>
                            | 电话:010-56232857 <br>
                            | Email:services@lvxingpai.cn <br>
                    .m-p.fl
                        h3 业务合作
                        p
                            | 产品合作:keven@lvxingpai.cn <br>
                            | 广告业务:steven@lvxingpai.cn <br>
                            | 其它业务:services@lvxingpai.cn <br>
                    .m-p.fl
                        h3 反馈
                        p
                            | 请告诉我们您的需求、建议或意见。
                            |  
                    .m-p.fl
                        h3 联系我们
                        p
                            //- i.ico02.ico02-qq
                            i.ico02.ico02-weibo 
                            a(href="http://weibo.com/lvxingpai" target="_blank") 旅行派
                    b.company-name ©2014 | 北京爱走天下网络科技有限责任公司
