doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        script(src='/javascripts/lib/jquery-1.11.1.min.js', rel='javascripts')
        block page_var
        script.
            var page_url = location.search;
            var page_path = page_var.path,
                page_id = page_var.id,
                use_require_js = page_var.use_require_js,
                cssRootUrl = '/stylesheets/',
                jsRootUrl = '/javascripts/';
            /* load css */
            var loadCss = function(page_path, page_id) {
                var link = document.createElement("link");
                link.type = "text/css";
                link.rel = "stylesheet";
                link.href = '/stylesheets/' + page_path + page_id + '.css';
                document.head.appendChild(link);
            };
            loadCss(page_path, page_id);
        link(href='/stylesheets/common/reset.css', rel='stylesheet')
        link(href='/stylesheets/common/travelpi.css', rel='stylesheet')
        script(src='/javascripts/lib/checklogin.js', rel='javascripts')

        title 旅行派

    body
        #top.hd
            h1.logo
                a(href='/')
                    img(src='/images/common/logo.png')
            ul.nav.f-cb
                li
                    a(href='/')
                        | 首页
                li
                    a(href='/target/')
                        | 目的地
                li
                    a(href='/plans/create/')
                        | 新建计划
                li
                    a(class='myplans')
                        | 我的计划
                li
                    a(href='/download/')
                        | APP下载
                if user_info
                    .user(id='J-user-icon' data-id=user_info.id)
                        img.user-avatar(src='#{user_info.avatar}')
                        a(href='/account/logout/' class='logout') 退出
                    //
                        .drop-menu(id='J-navi-user-center-drop-menu')
                            ul.user-center-menu-list
                                li.user-logout
                                    a(href='/account/logout/' class='logout') 退出
                else
                    li
                        a.login 登录
        .lg-layer(style='display: none;')
            h1.logo
                img(src='/images/common/logo.png')
            .lg-contain
                h2 使用第三方平台登录
                - var source_url =
                a.weibo(href=config.weibo_call_back)
                a.qq(href=config.qq_call_back)
        .shadow_layer(style='display: none;')

        block content

        .ft
            .ft-c
                .top
                    .m-p.fl
                        h3 关于我们
                        p
                            | 地址：北京市海淀区海淀西大街70号3层 <br>
                            | 邮编：100080 <br>
                            | 电话：010-56232857 <br>
                    .m-p.fl
                        h3 业务合作
                        p
                            | 产品合作：keven@lvxingpai.cn <br>
                            | 广告业务：steven@lvxingpai.cn <br>
                            | 其它业务：services@lvxingpai.cn <br>
                    .m-p.fl
                        h3 联系我们
                        p
                            i.ico02.ico02-qq
                            a(href="http://t.qq.com/lvxingpai") 旅行派_爱走<br>
                            i.ico02.ico02-weibo 
                            a(href="http://weibo.com/lvxingpai") 旅行派<br>
                    .m-p.fl.bd_l
                        h3 反馈
                        p
                            | 请告诉我们您的需求、建议或意见。
                        .company-name
                            i.ico-lxp-26
                            p
                                |   Copyright©2014 京ICP备14027571号-1<br>
                                |   北京爱走天下网络科技有限责任公司
            script.
                /* load css */
                var loadJS = function(page_path, page_id, use_require_js) {
                    var script = document.createElement("script");
                    script.type = "text/javascript";
                    if(use_require_js){
                        script.setAttribute('data-main', '/javascripts/' + page_path + page_id + '.js');
                        script.src = '/javascripts/lib/require.js';
                        console.log('/javascripts/' + page_path + page_id + '.js');
                    } else{
                        script.src = '/javascripts/' + page_path + page_id + '.js';
                    }
                    document.head.appendChild(script);
                };
                loadJS(page_path, page_id, use_require_js);
            script(src='/javascripts/common.js', rel='javascripts')
            script(type="text/javascript").
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F642d04109c4306c85015d272c1938156' type='text/javascript'%3E%3C/script%3E"));
