extends common/base

block meta
    title app下载-旅行派
    meta(name="keywords" content="旅行派app下载")
    meta(name="description" content="旅行派app下载")

block page_var
    script.
        var page_var = {
            id: 'download',
            path: '',
            use_require_js: false
        }

block content
    .Download_wrap
        .Download_main
            .Download_phone
                #phone_slider
                    img(src='/images/download/scroll/phone1.jpg',width='300',height='500',alt='' style='display:block')
                    img(src='/images/download/scroll/phone2.jpg',width='300',height='500',alt='' style='display:none')
                    img(src='/images/download/scroll/phone3.png',width='300',height='500',alt='' style='display:none')
                    img(src='/images/download/scroll/phone4.png',width='300',height='500',alt='' style='display:none')
                    //
                        img(src='/images/download/scroll/phone1.jpg',width='320',height='480',alt='' style='display:block')
                        img(src='/images/download/scroll/phone2.jpg',width='320',height='480',alt='' style='display:none')
                        img(src='/images/download/scroll/phone3.png',width='320',height='480',alt='' style='display:none')
                        img(src='/images/download/scroll/phone4.png',width='320',height='480',alt='' style='display:none')
            img.reflect(src='/images/download/reflect.png',width='163',height='362',alt='' style='display:none')
            .Download_intro
                .Download_biglogo
                    img(src='/images/download/60.60.png',width='70',height='70',alt='')
                    h1 旅行派
                .Download_text
                    h2 我们是专注于旅行行程安排的旅行攻略，我们是您的旅行导游
                    h4 一键规划旅行路线，随时调整，想改就改
                    h4 一键查看景点信息，详细信息、应有尽有
                    h4 一键获取旅游干货，去繁就简、效率第一
                    h4 一键直接跟旅行达人聊天、讨论私人旅行计划
                    h4 一键发现周边好去处，吃喝玩乐、样样都有
                    //  
                        h4 这里有最新最全的旅行路线攻略
                        h4 首创考虑大交通对旅行行程安排的影响
                        h4 您可以根据情况实时调整您的旅行计划，一键优化重新生成最优攻略
                        h4 所有这些，您只需输入，您想去哪儿
                .Download_download
                    h3.Download_title DOWNLOAD下载
                        i
                    a.Download_appdown(href='', target=_blank)
                    a.Download_anddown(href='', target=_blank)
                    //
                        a.Download_appdown(href='https://itunes.apple.com/cn/app/lu-xing-pai-zui-ge-xing-zi/id895702413?mt=8')
                        a.Download_anddown(href='http://cms.lvxingpai.cn/download/LXP.apk')
                .Download_two_code
                    //
                        img(src='/images/download/two_code.png',width='100',height='100',alt='')

    script(src="/javascripts/download/jquery_migrate_v1.1.1.js" rel='javascript')
    script(src="/javascripts/download/jquery.cycle_v1.0.js" rel='javascript')
    script(src="/javascripts/download/slider.js" rel='javascript')
