extends common/base

block page_var
    script.
        var page_var = {
            id: 'route',
            path: '',
        }


block content
    .full-screen
        .bg-blue
            .search-bg
                i.ico-position
                b 北京
                b.change [更换]
                b.line
                input(type="text" name="arrivName" placeholder='景点/城市/省份' id="arrive" onkeyup="suggestion_to(this.value)" autocomplete="off")
                i.ico-addpos
                a(href="#" onclick="go_plan_list()")
                    #search-btn.s-btn()
                #suggestion_to.suggestion(style="margin-left:270px;width:373px;")
                #suggestion_from.suggestion(style="width:250px;")
        ul.filter-nav
            li(data-area="ly01")
                a
                    b   和谁出行
                    i.ico-arr01
                #ly01.layer
                    ul
                        li
                            input.cb#cb-1(data-item="独自出行" type="checkbox")
                            label(for="cb-1")   独自出行
                        li
                            input.cb#cb-2(data-item="亲子" type="checkbox")
                            label(for="cb-2")   亲子
                        li
                            input.cb#cb-3(data-item="情侣" type="checkbox")
                            label(for="cb-3")   情侣
                        li
                            input.cb#cb-4(data-item="和父母" type="checkbox")
                            label(for="cb-4")   和父母
                        li
                            input.cb#cb-5(data-item="夫妻" type="checkbox")
                            label(for="cb-5")   夫妻
                        li
                            input.cb#cb-6(data-item="和朋友" type="checkbox")
                            label(for="cb-6")   和朋友
                        .list-last
            li(data-area="ly02")
                a
                    b   游记玩法
                    i.ico-arr01
                #ly02.layer
                    ul
                        li
                            input.cb#cb-1(data-item="摄影" type="checkbox")
                            label(for="cb-1")   摄影
                        li
                            input.cb#cb-2(data-item="骑行" type="checkbox")
                            label(for="cb-2")   骑行
                        li
                            input.cb#cb-3(data-item="情侣" type="checkbox")
                            label(for="cb-3")   情侣
                        li
                            input.cb#cb-4(data-item="自驾" type="checkbox")
                            label(for="cb-4")   自驾
                        li
                            input.cb#cb-5(data-item="购物" type="checkbox")
                            label(for="cb-5")   购物
                        li
                            input.cb#cb-6(data-item="美食" type="checkbox")
                            label(for="cb-6")   美食
                        li
                            input.cb#cb-7(data-item="人文" type="checkbox")
                            label(for="cb-7")   人文
                        .list-last
            li(data-area="ly03")
                a
                    b   行程天数
                    i.ico-arr01
                #ly03.layer
                    ul
                        li
                            input.cb#cb-1(data-item="三天之内" type="checkbox")
                            label(for="cb-1")   三天之内
                        li
                            input.cb#cb-2(data-item="一周之内" type="checkbox")
                            label(for="cb-2")   一周之内
                        li
                            input.cb#cb-3(data-item="一周以上" type="checkbox")
                            label(for="cb-3")   一周以上
                        .list-last
        .select-list
        .gap
            .route-sum
                |   21条线路
            .sort.bluebg
                |   按使用人数
                i.ico-arr03
        ul.routelist
            li.route(data-for="list-sub-01" style="border:none;")
                .left
                    img(src="/images/route/index/285-215.png" width="165" height="165")
                    img.most_tag(src='/images/route/index/triangle.png')
                    h2.most_tag 最浪漫
                .right
                    h2.r-title  台北深度体验之旅
                    h3.usetimes  (100人使用)
                    p.txt
                        |   这条线路所包含都是三亚最著名的景区，特别适合初次来到三亚的人群选择，四天的行程，带你感受阳光沙滩，椰风海韵。
                    p.w55
                      i.ico01.ico01-route
                      b 线路特色-古镇美食青山秀水
                    p.w45
                      i.ico01.ico01-spot
                      b 12个景点，共5天
                    p.w55
                      i.ico01.ico01-cost
                      b 预计花费 ￥2000-￥3000
                    a.fork.ico-fork#but(href="javascript:;" onclick='click(this)')

            #list-sub-01.list-layer(style="display:none")
                span.close
                    i.btn-close3
                ul.route_nav
                    li
                        a.selected(href="#list-sub-01-tab1") 推荐理由
                    li
                        a(href="#list-sub-01-tab2") 景点列表
                    li
                        a(href="#list-sub-01-tab3") 图片
                    li
                        a(href="#list-sub-01-tab4") 相关游记
                    li
                        a#route 路线详情
                #list-sub-01-tab1
                    .desc.w350
                        b   简介:
                        p   这条线路专为情侣设计，主打浪漫、悠闲、慢节奏的体验。让你充分体验到这个充满爱意的热带城市...
                    .desc.w180
                        dl.items
                            dt
                                b   线路特色
                            dd  人文,历史,自然风光,情侣
                            dt
                                b   线路内容
                            dd  全程4天,共6个景点
                            dt
                                b   预计开销
                            dd   ￥2700-￥6600
                #list-sub-01-tab2
                    ul
                        li
                            b.date  D1
                            |   慈光阁-迎客松-莲花峰
                        li
                            b.date  D2
                            |   白鹅岭-光明顶-黄山-狮子峰-云谷寺白鹅岭-光明顶-黄山-狮子峰-云谷寺白鹅岭-光明顶-黄山-狮子峰-云谷寺白鹅岭-光明顶-黄山-狮子峰-云谷寺
                        li
                            b.date  D3
                            |   黟县宏村
                        li
                            b.date  D4
                            |   西递古村
                #list-sub-01-tab3
                    #photo-list(style="overflow:hidden;")
                        ul#scroll
                            li
                                img(src="/images/route/index/img/1.jpg"  alt="")
                            li
                                img(src="/images/route/index/img/2.jpg"  alt="")
                            li
                                img(src="/images/route/index/img/3.jpg"  alt="")
                            li
                                img(src="/images/route/index/img/4.jpg"  alt="")
                            li
                                img(src="/images/route/index/img/5.jpg"  alt="")
                    i#prev.btn-arr-right
                    i#next.btn-arr-left
                #list-sub-01-tab4

            li.route(data-for="list-sub-02")
                .left
                    img(src="/images/route/index/285-215.png" width="165" height="165")
                    img.most_tag(src='/images/route/index/triangle.png')
                    h2.most_tag 最浪漫
                .right
                    h2.r-title  台北深度体验之旅
                    h3.usetimes  (100人使用)
                    p.txt
                        |   这条线路所包含都是三亚最著名的景区，特别适合初次来到三亚的人群选择，四天的行程，带你感受阳光沙滩，椰风海韵。
                    p.w55
                      i.ico01.ico01-route
                      b 线路特色-古镇美食青山秀水
                    p.w45
                      i.ico01.ico01-spot
                      b 12个景点，共5天
                    p.w55
                      i.ico01.ico01-cost
                      b 预计花费 ￥2000-￥3000
                    a.fork.ico-fork(href='#')
            li.route(data-for="list-sub-03")
                .left
                    img(src="/images/route/index/285-215.png" width="165" height="165")
                    img.most_tag(src='/images/route/index/triangle.png')
                    h2.most_tag 最浪漫
                .right
                    h2.r-title  台北深度体验之旅
                    h3.usetimes  (100人使用)
                    p.txt
                        |   这条线路所包含都是三亚最著名的景区，特别适合初次来到三亚的人群选择，四天的行程，带你感受阳光沙滩，椰风海韵。
                    p.w55
                      i.ico01.ico01-route
                      b 线路特色-古镇美食青山秀水
                    p.w45
                      i.ico01.ico01-spot
                      b 12个景点，共5天
                    p.w55
                      i.ico01.ico01-cost
                      b 预计花费 ￥2000-￥3000
                    a.fork.ico-fork(href='#')
            li.route(data-for="list-sub-04")
                .left
                    img(src="/images/route/index/285-215.png" width="165" height="165")
                    img.most_tag(src='/images/route/index/triangle.png')
                    h2.most_tag 最浪漫
                .right
                    h2.r-title  台北深度体验之旅
                    h3.usetimes  (100人使用)
                    p.txt
                        |   这条线路所包含都是三亚最著名的景区，特别适合初次来到三亚的人群选择，四天的行程，带你感受阳光沙滩，椰风海韵。
                    p.w55
                      i.ico01.ico01-route
                      b 线路特色-古镇美食青山秀水
                    p.w45
                      i.ico01.ico01-spot
                      b 12个景点，共5天
                    p.w55
                      i.ico01.ico01-cost
                      b 预计花费 ￥2000-￥3000
                    a.fork.ico-fork(href='#')

          .slider_layer(style='display:none;width:580px;height:550px;position:fixed;left:-580px;top:130px;background-color:#fff;padding:20px;')
            #layer_close(style='color:red;cursor:pointer;float:right;') close
            .slider_hd
              p.w55.vs_day
                i.ico01.ico01-spot
                b 12个景点，共5天
              h2.r-title  台北深度体验之旅
              p.w55
                i.ico01.ico01-route
                b 线路特色-古镇美食青山秀水
              p.w55
                i.ico01.ico01-cost
                b 预计花费 ￥2000-￥3000
              a.fork.ico-fork(href='#')
            .tab
              a#tab01.item.item01-hover
              a#tab02.item.item02-normal
            #item01.tab-c
              .loading(style='display: none;')
                i.ico02.ico02-loading
                a.btn 正在加载中···
              .c(style='')
                h1.routename 人在画中走
                p
                  span.day
                    b.dot ·
                    span 全程 4 天
                  span.vsCnt
                    b.dot ·
                    span 共 10 个景点
                  br
                  span.tags
                    b.dot ·
                    span 旅途印象: 如画古村, 山水田园, 文人墨客
              .c(style='')
                h2.t1.t2
                  i.ico02.ico02-circle
                  b 路线速览
                ul.l
                  li
                    b.date D1
                    | 慈光阁-迎客松-莲花峰
                  li
                    b.date D2
                    | 白鹅岭-光明顶-黄山-狮子峰-云谷寺
                  li
                    b.date D3
                    | 黟县宏村
                  li
                    b.date D4
                    | 西递古村
              .c(style='')
                h3.t1.t2
                  i.ico02.ico02-circle
                  b.routename 人在画中走
                  .moredesc
                    .ct_box
                      .day_box
                        .list_daybox
                          .list_day.first
                            .titbox
                              .icon_day D1
                              .day_mask
                              span.d_tit
                                span.t 黄山：
                                a.link(data-beacon='line_sight', target='_blank') 黄山风景区
                                | >
                                a.link(data-beacon='line_sight', target='_blank') 慈光阁
                                | >
                                a.link(data-beacon='line_sight', target='_blank') 迎客松
                                | >
                                a.link(data-beacon='line_sight', target='_blank') 莲花峰
                            .des
                              | 黄山对于游客的诱惑是挡不住的，所以我们就应该直奔黄山。这个线路是后山上后山下，因为黄山的绝大多数景点都在后山。上山容易下山难，总体来说慈光阁那条路比较难走，非常陡。特别是迎客松到光明顶这段路，一会上山，一会下山。因此上山走这条路，下山走云谷寺那条比较容易的路会比较合理。最重要的是此线路不用走回头路。慈光阁四周群山环抱，茂林修竹相掩，十分幽静，也是黄山索道的起点。乘坐8分钟的索道就能到达迎客松所在的玉屏楼。迎客松恰似一位好客的主人，挥展双臂，热情欢迎海内外宾客来黄山游览。随后就往莲花峰走去，漫步八百莲花阶、百步云梯,洞穿狭窄陡峭的一线天、鳌鱼峰、天海、登观黄山奇石—“通灵宝玉”飞来石，到丹霞峰看日落晚霞，一定会让你沉醉其中。
                            .imglistbox
                              ul.list_item.clrfix
                                li.item
                                  .imgbox
                                    a.imglink(data-beacon='line_poi_pic', target='_blank')
                                      .titbox 迎客松
                                      .titboxbg
                                      img.img(alt='迎客松', height='202', src='http://img1.qunarzz.com/travel/poi/201403/27/4d9f83208a7c0282ddb12cfb.jpg', width='300')
                                li.item
                                  .imgbox
                                    .titbox 丹霞峰
                                    .titboxbg
                                    img.img(alt='丹霞峰', height='202', src='http://img1.qunarzz.com/travel/poi/201403/27/1264ede481b0bf45ddb12cfb.jpg', width='300')
                            .sub_titbox
                              span.d_tit 餐饮：
                            .des 黄山上吃的地方并不是很多，而且价格不菲，建议自己带一些充饥的食物，很方便。
                            .imglistbox
                            .sub_titbox
                              span.d_tit 住宿：
                            .des 在黄山住宿酒店还是很多的而且条件也都不错，看自己实际情况选择。
                            .imglistbox
                          .list_day
                            .titbox
                              .icon_day D2
                              .day_mask
                              span.d_tit
                                span.t 黄山：
                                a.link(data-beacon='line_sight', target='_blank') 黄山风景区
                                | >
                                a.link(data-beacon='line_sight', target='_blank') 光明顶
                                | >
                                a.link(data-beacon='line_sight', target='_blank') 狮子峰
                                | >
                                a.link(data-beacon='line_sight', target='_blank') 白鹅岭
                                | >
                                a.link(data-beacon='line_sight', target='_blank') 云谷寺
                            .des
                              | 第二天一定要早起，因为来黄山最不能错过的就是看日出和云海。而光明顶是观赏日出最佳地点。光明顶是黄山第二高峰，这里高旷开阔，日光照射久长。顶上平坦而高旷，可观东海奇景、西海群峰，由于地势平坦，所以是黄山看日出、观云海的最佳地点之一。看完日出就要往狮子峰出发，狮子峰酷似一只伏卧的雄狮。地势比较陡峭要小心才是。从狮子峰下来就可以慢慢沿着路下山了。
                            .imglistbox
                              ul.list_item.clrfix
                                li.item
                                  .imgbox
                                    a.imglink(data-beacon='line_poi_pic', target='_blank')
                                      .titbox 光明顶
                                      .titboxbg
                                      img.img(alt='光明顶', height='202', src='http://img1.qunarzz.com/travel/poi/201403/27/2c71134e0c344931ddb12cfb.jpg', width='300')
                                li.item
                                  .imgbox
                                    a.imglink(data-beacon='line_poi_pic', target='_blank')
                                      .titbox 狮子峰
                                      .titboxbg
                                      img.img(alt='狮子峰', height='202', src='http://img1.qunarzz.com/travel/poi/201403/27/6e642e37e13e18e6ddb12cfb.jpg', width='300')
                            .sub_titbox
                              span.d_tit 餐饮：毛豆腐、臭鳜鱼、石耳烩蛋
                            .des 在黄山脚下有很多民宿，蔬菜都是自己种的，纯天然食物。喜欢清淡的话可以去品尝一下。
                            .imglistbox
                            .sub_titbox
                              span.d_tit 住宿：
                            .des 住宿可以回到市区入住或者直接入住宏村也很方便。
                            .imglistbox
                          .list_day
                            .titbox
                              .icon_day D3
                              .day_mask
                              span.d_tit
                                span.t 黄山：
                                a.link(data-beacon='line_sight', target='_blank') 宏村
                            .des
                              | 第三天一早乘巴士前往宏村，大约需要1.5小时。宏村是古黟桃花源里一座奇特的牛形古村落，湖光山色与层楼叠院和谐共处，自然景观与人文内涵交相辉映，是宏村区别于其他民居建筑布局的特色，成为当今世界历史文化遗产一大奇迹。走在宏村斑驳的石板路上，听着那一年的故事，是用脚步给灵魂缭绕了一层古韵色的美。全村现完好保存明清民居140余幢，承志堂“三雕”精湛，富丽堂皇，被誉 为“民间故宫”。
                            .imglistbox
                              ul.list_item.clrfix
                                li.item
                                  .imgbox
                                    a.imglink(data-beacon='line_poi_pic', target='_blank')
                                      .titbox 黟县宏村
                                      .titboxbg
                                      img.img(alt='黟县宏村', height='202', src='http://img1.qunarzz.com/travel/poi/201403/27/fb0108ff838253b5ddb12cfb.jpg', width='300')
                            .sub_titbox
                              span.d_tit 餐饮：宏村烧饼、蟹壳黄烧饼
                            .des 在宏村有很多吃饭的地方，以徽菜的口味为主，味道很不错
                            .imglistbox
                              ul.list_item.clrfix
                                li.item
                                  .imgbox
                                    .titbox 蟹壳黄烧饼
                                    .titboxbg
                                    img.img(alt='蟹壳黄烧饼', height='202', src='http://img1.qunarzz.com/travel/poi/201403/27/6184bd6b29b255a3ddb12cfb.jpg', width='300')
                            .sub_titbox
                              span.d_tit 住宿：
                            .des 宏村以民宿为主，可按条件自行选择。
                            .imglistbox
                          .list_day.last
                            .titbox
                              .icon_day
                                | D4
                              .day_mask
                              span.d_tit
                                span.t 黄山：
                                a.link(data-beacon='line_sight', target='_blank') 西递
                            .des
                              | 第四天可以睡个懒觉，起床后坐旅游公交大约半小时到达西递。西递村在2000被联合国教科文组织第列入世界文化遗产名录。西递村建房多用黑色大理石，两条清泉穿村而过，99条高墙深巷，各具特色的古民居，使游客如置身迷宫。在古村你能看到标志性的楼牌，西递牌楼造型庄重、典雅，石刻技艺出众，堪称明代徽派石坊的代表作。漫步西递古村，你会发现西递村呈船形，村中古民居建筑群，就像一间间船舱，组成大船的船体；村周围连绵起伏的山峦，宛如大海的波涛。
                            .imglistbox
                              ul.list_item.clrfix
                                li.item
                                  .imgbox
                                    a.imglink(data-beacon='line_poi_pic', target='_blank')
                                      .titbox 西递古村
                                      .titboxbg
                                      img.img(alt='西递古村', height='202', src='http://img1.qunarzz.com/travel/poi/201403/27/7d3b9ec788bea178ddb12cfb.jpg', width='300')
                            .sub_titbox
                              span.d_tit 餐饮：腊八粥、石头馃、苞芦松
                            .des 西递的饮食属于徽州菜系，为全国八大菜系之一。当地特色的美食主要有腊八粥、石头馃、徽州馃、苞芦馃、苞芦松、蟹壳黄烧饼等，可根据自己的口味选择。
                            .imglistbox
                            .sub_titbox
                              span.d_tit 住宿：
                            .des
                              | 在西递，住的地方比较多，占据西递古村天时地利的位置，很多客栈都比较有特色，室内装修也多为木雕，古色古香，环境优雅。此外，还有一些比较大型的酒店，结合传统文化和现代商业文明，设施都较为完善。
                            .imglistbox
                        .toolbox
                          a.btn.collect(target='_blank')
                            span.icon
                          a.btn.expand(target='_blank')
                            span.icon
            #item02.tab-c(style='display: none;')
              .loading(style='display: none;')
                i.ico02.ico02-loading
                a.btn 正在加载中···
              ul.about-list
                li
                  a.n0(href='http://lvyou.baidu.com/notes/589a40f0df8513ff2d6375db/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/a9f4e4b8b8e7b4ab3932335d3b.jpg')
                    h1.t1 黄山三日游
                    em
                      span.au 冷之子
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 走进徽州 黄山.西递.宏村 黄山西递宏村三日游 一、行程 D1：从济南乘火车到南京，南京接团，中餐后乘车前往黄山风景区，              宿汤口镇 D2: 早餐后赴“桃花源里人家”—西递（约...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览148
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游
                li
                  a.n1(href='http://lvyou.baidu.com/notes/4197d26fb3ad38026f922dcc/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/86127773627a68616e677a68656e7120.jpg')
                    h1.t1 黄山游记
                    em
                      span.au wsbzhangzhen
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 无锡——黄山， 第1天-从无锡乘大巴车到黄山 黄山位于中国安徽省南部黄山市境内，以她特有的“雄伟、险峻、烟云、飞瀑、巧石、清秀”，吸引着无数海内外游客。我文笔笨拙，无法描述黄山美景对我的震撼；我摄影技...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览943
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游
                li
                  a.n2(href='http://lvyou.baidu.com/notes/e8993d04419d43347fbdd15f/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/504ec7f9b2ccb539242df2ec.jpg')
                    h1.t1 黄山旅游、黄山自助游攻略、黄山自游人客栈（一）
                    em
                      span.au 黄山自游人
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 回顾2011、更新2012····为了您的黄山之旅不在烦恼，为了您的黄山自助旅游更加完美，请认真阅读本攻略！先给大家大致罗列下游玩黄山前游客朋友们问的最多、最关心和一些必须知道的基本问题，让你对黄山旅...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览17684
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游
                li
                  a.n3(href='http://lvyou.baidu.com/notes/51bfaefcc21ea5c1fa0ba849/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/8a0874756c6970303733d027.jpg')
                    h1.t1 黄山游记
                    em
                      span.au tulip073
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 总计划 武汉到合肥，合肥到汤口，第一天翡翠谷，九龙瀑，第二天黄山，第三天宏村 tulip073发表于2014-05-06 11:17 第一天。 武汉-合肥-汤口 怀着满怀期待的心里，我们出发了从武汉!...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览291
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游
                li
                  a.n4(href='http://lvyou.baidu.com/notes/507d16c2ef124ea85affb833/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/4ec2d5628535e5dd3ddc3c7074c6a7efcf1b62a9.jpg')
                    h1.t1 登黄山 看美景
                    em
                      span.au mysun05
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 黄山 黄山 在屯溪住的青旅 屯溪老街坐落在黄山市屯溪区中心地段，是目前中国保存最完整的，具有宋、明、清时代建筑风格的步行商业街 老街有很多明清风格的徽派建筑 开始登黄山，刚走一会就看见云海www.38...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览312
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游
                li
                  a.n5(href='http://lvyou.baidu.com/notes/0de8c83a4008cfd815740d37/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/0df3d7ca7bcb0a46a3024f5c6a63f6246b60afb7.jpg')
                    h1.t1 黄山
                    em
                      span.au nyrd777
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 游黄山 时间来到了8月，这是第二次探亲的日子，回到家，妻儿已经盼望多时了，团聚的日子总是那么温馨，老婆孩子热炕头。休息了几天想想年初答应的带孩子去黄山旅游，正好有机会，那就出发吧，原本想自驾，老婆怕我...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览111
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游
                li
                  a.n6(href='http://lvyou.baidu.com/notes/dab45a3d1354b88b3b405ef1/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/8b527d27e792655b918f9db8.jpg')
                    h1.t1 黄山纪行
                    em
                      span.au bjcj
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 前序 黄山和徽州之旅，是一次文化和自然之旅。 我的路线： 北京--（飞机）--黄山（屯溪机场）--黄山（2天）--西递、歙县--屯溪--北京 （是原来写的系列游记，时光Back到2005年7月，那个不...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览2501
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游
                li
                  a.n7(href='http://lvyou.baidu.com/notes/906c100706c25c2591f045d6/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/d892e88d89e58fb3e585ae9608.jpg')
                    h1.t1 第一次独立出行安徽黄山
                    em
                      span.au 草右兮
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 第一天（8月2日）：出发 淮安——南京——黄山 碎碎念： 去安徽黄山，是我第一次独立出去旅游。之前，和大学同学结伴出去旅游过，但是，对这中间的路线安排啊住宿啊等等完全没有概念，只是带着自己跟着同学走就...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览2475
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游
                li
                  a.n8(href='http://lvyou.baidu.com/notes/db4a5b3d1354b88b3b405e0f/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/3ac79f3df8dcd100f7edb803738b4710b9122f9a.jpg')
                    h1.t1 【绿之】黄山（追逐太阳的游戏）
                    em
                      span.au 绿小爪
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 【写在前面】 北京-黄山 1.为大家一目了然，我一概本着无华丽辞藻，无煽情的原则，纯工具文。所以流水账是无法避免，请谅解。红色文字很重要。2.行前必备：较保轻便暖的外衣、防滑舒适的运动鞋、拐杖（酌情，...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览602
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游
                li
                  a.n9(href='http://lvyou.baidu.com/notes/e86e2a50e9e45ad4cb1ce423/d-0', target='_blank')
                    img.sider-userimg(src='http://himg.bdimg.com/sys/portrait/item/faedab64034f78f05ef7e26379310a55b2191ca5.jpg')
                    h1.t1 冬季 我们到黄山来看雪
                    em
                      span.au fengyuefeng
                      | 发表于
                    em.time 2014-10-31
                    p.txt
                      | 冬季，我们到黄山来看雪-序 冬季，我们到黄山来看雪-序 话说二ΟΟ一年夏天，天际来到雪域高原。在五千多米的加错拉山口，318国道蜿蜒地游向天际，似乎是这里唯一的生命。 “天际”由此孕育而生。夜宿珠穆朗...
                    p.ico-g
                      i.ico01.ico01-eye
                      b 浏览1084
                    p.ico-g
                      i.ico01.ico01-source
                      b 来自百度旅游

    script(src='/javascripts/lib/icheck.min.js' rel='javascript')
    script(src='/javascripts/lib/jquery.idTabs.min.js' rel='javascript')
