extends common/base

block page_var
    script.
        var page_var = {
            id: 'target',
            path: '',
        }

block content
  .content
    #map_container
    .hot_cities
      .title 
        i.line |
        b 热门城市
      <br>
      .city-list
        .col-thin.rig
          a.type01
            img.type01(src='../images/target/list.jpg')  
        .col-thick.rig
          .row-tall.bot
            a.type02
              img.type02(src='../images/target/list.jpg')  
          .row-short.bot
            a.type03
              img.type03(src='../images/target/list.jpg')  
            a.type04
              img.type03(src='../images/target/list.jpg')  
        .col-thin.rig
          a.type01
            img.type01(src='../images/target/list.jpg')  
        .col-thick.rig
          .row-short.bot
            a.type03
              img.type03(src='../images/target/list.jpg')  
            a.type04
              img.type03(src='../images/target/list.jpg')  
          .row-tall.bot
            a.rb.type02
              img.type02(src='../images/target/list.jpg')  
          
    .hot_views
      .title 
        i.line |
        b 热门景点
      <br>
      .view-list
        .col-thick.rig
          .row-short.bot
            a.type03
              img.type03(src='../images/target/list.jpg')  
            a.type04
              img.type03(src='../images/target/list.jpg')  
          .row-tall.bot
            a.rb.type02
              img.type02(src='../images/target/list.jpg')
        .col-thin.rig
          a.type01
            img.type01(src='../images/target/list.jpg')  
        .col-thick.rig
          .row-tall.bot
            a.type02
              img.type02(src='../images/target/list.jpg')  
          .row-short.bot
            a.type03
              img.type03(src='../images/target/list.jpg')  
            a.type04
              img.type03(src='../images/target/list.jpg')  
        .col-thin.rig
          a.type01
            img.type01(src='../images/target/list.jpg')  
      
