<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
  <script src="http://lib.sinaapp.com/js/jquery/1.9.0/jquery.js" type="text/javascript"></script>
  <script src="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js" type="text/ecmascript"></script>
  <script type="text/javascript">
        function getIpPlace() {          
          input.fromLocName.value = remote_ip_info["province"];// + remote_ip_info["city"];  
        }
        window.onload = getIpPlace; 
  </script>
  
  
<!-- 联想功能 -->
  <script>
    function getLinkData() {
                var popupDiv = document.getElementById("popup");//获得对应的div对象
                var popupBody = document.getElementById("popupBody");//获得对应的tbody对象
                var linkDataProperty = document.getElementById("linkDataProperty"); //获得对应的输入框对象
                
                clearModels();//清除联想输入提示框的内容
                

                //利用ajax获取后台的模糊查询的数据，并且封装成下拉列表的形式展现出来
                $.ajax({
                    type : "GET",   //提交的方法为post
                    contentType: 'application/json', 
                    url : "http://localhost:8880/suggestion",   //对应的Action提交的路径
                    //data  : {input : linkDataProperty.value},   //从前台传递到后台的查询语句的参数
                    dataType : "json",  //从Action中返回的数据的类型为json类型的
                    error : function(){
                        alert("没有对应的数据，请查看输入的查询条件！");
                    },
                    success : function(data) {//当Ajax提交成功时调用的方法
                              data = JSON.parse(data);
                              alert(data);
                              if(data.length==0){return;}
                              setOffsets();//设置联想输入下拉列表提示框的位置
                              var tr,td,text;
                              for (var i = 0; i < data.length; i++) {//根据返回的值，手动的拼tbody的内容
                              text = document.createTextNode(data[i].linkDataProperty);//从Action中返回的数据中取出linkDataProperty的值
                              td = document.createElement("td");//创建一个td的对象           
                              tr = document.createElement("tr");//创建一个tr的对象           
                              td.mouseOver = function(){this.className="mouseOver;"};
                              td.mouseOut = function(){this.className="mouseOut;"};
                              td.onclick = function(){populateModel(this)};//单击td是的方法为populateModel             
                              td.appendChild(text);
                              tr.appendChild(td);            
                              popupBody.appendChild(tr);
                          }
                    }
                });
                //点击下拉列表中的某个选项时调用的方法
                function populateModel(cell) {
                        clearSelect();
                        linkDataProperty.value = cell.firstChild.nodeValue;
                        //initOtherData(linkDataProperty.value);利用输入框中的数据调用其他方法，初始化其他数据
                        clearModels();//清除自动完成行                        
                }
                //清除自动完成行，只要tbody有子节点就删除掉，并且将将外围的div的边框属性设置为不可见的
                function clearModels() {
                    while (popupBody.childNodes.length > 0) {
                        popupBody.removeChild(popupBody.firstChild);
                    }
                    popupDiv.style.border = "none";
                }
                //设置下拉列表的位置和样式
                function setOffsets() {
                    var width = linkDataProperty.offsetWidth;//获取linkDataProperty输入框的相对宽度
                    var left = getLeft(linkDataProperty);
                    var top = getTop(linkDataProperty) + linkDataProperty.offsetHeight;
            
                    popupDiv.style.border = "black 1px solid";
                    popupDiv.style.left = left + "px";
                    popupDiv.style.top = top + "px";
                    popupDiv.style.width = width + "px";
                }
                //获取指定元素在页面中的宽度起始位置
                function getLeft(e) {
                    var offset = e.offsetLeft;
                    if (e.offsetParent != null) {
                        offset += getLeft(e.offsetParent);
                    }
                    return offset;
                }
                //获取指定元素在页面中的高度起始位置
                function getTop(e) {
                    var offset = e.offsetTop;
                    if (e.offsetParent != null) {
                        offset += getTop(e.offsetParent);
                    }
                    return offset;
                }
            }
        
          //清空输入框中的数据
            function clearSelect() {
                var linkDataProperty=document.getElementById(linkDataProperty);
                linkDataProperty.value="";
            }
  </script>



</head>
<body>
      <form name="input" action="http://localhost:8880/search" method="GET">
        出发地:
        <input type="text" name="fromLocName" />
        目的地:
        <input type="text" name="arrLocName" />
        <input type="submit" value="Submit" />
      </form>
      
      <td>
        <input style="width:20%;" id="linkDataProperty" name="linkData.linkDataProperty" type="text" onkeyup="getLinkData();" />
          <div id="popup" style="position: absolute;">
            <table width="100%" bgcolor="#fffafa">
              <tbody id="popupBody"></tbody>
            </table>
          </div>
      </td>
      
</body>
</html>
